#importFrom("ape", "binaryPGLMM", "compar.gee", "correlogram.formula", "lmorigin", "yule.cov")
#importFrom("arm", "bayesglm", "bayespolr")
#importFrom("aod", "betabin", "donner", "negbin", "quasibin", "quasipois",
#                  "raoscott", "splitbin")
#importFrom("brglm", "brglm")
#importFrom("caper", "brunch", "crunch", "macrocaic", "pgls")
#importFrom("caret", "avNNet", "bagEarth", "bagFDA", "calibration", "dummyVars",
#                    "icr", "knn3", "lift", "pcaNNet", "sbf",
#                    "train")
#importFrom("coin", "ansari_test", "chisq_test", "cmh_test", "conover_test", "fisyat_test",
#                   "fligner_test", "friedman_test", "independence_test", "klotz_test", "koziol_test",
#                   "kruskal_test", "lbl_test", "logrank_test", "maxstat_test", "median_test",
#                   "mh_test", "mood_test", "normal_test", "oneway_test", "quade_test",
#                   "quadrant_test", "sign_test", "symmetry_test", "taha_test", "savage_test",
#                   "spearman_test", "wilcox_test", "wilcoxsign_test")
#importFrom("CORElearn", "attrEval", "CoreModel", "discretize", "ordEval")
#importFrom("drc", "drm")
#importFrom("e1071", "svm")
#importFrom("earth", "earth")
#importFrom("EnvStats", "calibrate", "gofTest", "gofGroupTest", "kendallSeasonalTrendTest",
#                       "kendallTrendTest",
#                       "stripChart", "summaryFull", "summaryStats", "varGroupTest")
#importFrom("gam", "gam")
#importFrom("gbm", "gbm")
#importFrom("gee", "gee")
#importFrom("glmx", "glmx", "hetglm")
#import("graphics")
#importFrom("Hmisc", "areg.boot", "aregImpute", "biVar", "bpplotM", "dataRep",
##                   "describe", "Dotplot", "Ecdf", "fit.mult.impute", "nobsY",
##                   "rcorrcens", "redun", "summary", "summaryD", "summaryM",
##                   "summaryP", "summaryRc", "summaryS", "transcan", "varclus",
##                   "xYplot")
#importFrom("ipred", "bagging", "errorest", "inbagg", "inclass", "slda")
#importFrom("iRegression", "bivar", "ccrm", "cm", "crm", "MinMax")
#importFrom("kernlab", "gausspr", "kfa", "kha", "kkmeans", "kpca",
##                     "kqr", "ksvm", "lssvm", "rvm", "sigest",
##                     "specc")
#importFrom("klaR", "classscatter", "cond.index", "greedy.wilks", "loclda", "meclight",
#                   "NaiveBayes", "nm", "partimat", "plineplot", "pvs",
#                   "rda", "sknn", "stepclass", "woe")
#import("lattice")
#importFrom("leaps", "regsubsets")
#importFrom("lmtest", "bgtest", "bptest", "coxtest", "dwtest", "encomptest",
#           "gqtest", "grangertest", "harvtest", "hmctest", "jtest",
#           "raintest", "resettest")
#import("magrittr")
#importFrom("MASS", "corresp", "glm.nb", "lda", "lm.gls", "lm.ridge",
#                   "loglm", "logtrans", "lqs", "polr", "qda", "rlm")
#importFrom("MCMCglmm", "MCMCglmm")
#importFrom("mda", "fda", "mda")
#importFrom("metafor", "escalc", "rma")
#importFrom("mgcv", "bam", "gam", "gamm")
#importFrom("modeltools", "ModelEnvFormula", "ParseFormula")
#importFrom("nlme", "gls", "lme", "nlme", "nlsList")
#importFrom("nnet", "multinom", "nnet")
#importFrom("party", "cforest", "ctree", "mob")
#importFrom("pls", "cppls", "mvr", "pcr", "plsr")
#importFrom("plotrix", "barNest", "brkdn.plot", "brkdnNest", "histStack", "plotH")
#importFrom("pscl", "hurdle", "zeroinfl")
#importFrom("quantreg", "dynrq", "KhmaladzeTest", "nlrq", "rq", "rqProcess",
#                       "rqss")
#importFrom("randomForest", "randomForest")
#importFrom("Rchoice", "Rchoice")
#importFrom("rminer", "fit", "mining")
#importFrom("rms", "bj", "cph", "Glm", "lrm", "npsurv",
#                  "ols", "orm", "psm")
#importFrom("robustbase", "adjbox", "glmrob", "lmrob", "ltsReg", "nlrob")
#importFrom("rpart", "rpart")
#importFrom("RWeka", "AdaBoostM1", "Bagging", "CostSensitiveClassifier", "DecisionStump", "Discretize",
#           "GainRatioAttributeEval", "IBk", "InfoGainAttributeEval", "J48", "JRip",
#           "LBR", "LogitBoost", "LinearRegression", "LMT", "Logistic",
#           "M5P", "M5Rules", "MultiBoostAB", "Normalize", "OneR",
#           "PART", "SMO", "Stacking")
#import("stats")
importFrom("stats", "as.formula")
#importFrom("strucchange", "breakpoints", "efp", "Fstats", "mefp", "recresid",
#                          "sctest")
#importFrom("survey", "svydesign", "twophase")
#importFrom("survival", "cch", "coxph", "pyears", "survConcordance", "survexp",
#                       "survfit", "survSplit")
#importFrom("SwarmSVM", "alphasvm")
#importFrom("tree", "tree")
#importFrom("vegan", "adipart", "adonis", "adonis2", "bioenv", "capscale",
#                    "cca", "dbrda", "envfit", "gdispweight", "multipart",
#                    "ordicloud", "ordisplom", "ordisurf", "ordixyplot")
exportPattern("intubate.*|ntbt|intuBag|is_intuBag|^ntbt_[[:alpha:]]+")
