importFrom("dplyr", "filter", "group_by", "select", "summarise")
importFrom("e1071", "svm")
importFrom("gam", "gam")
importFrom("gbm", "gbm")
import("graphics")
import("lattice")
importFrom("leaps", "regsubsets")
importFrom("lfe", "felm")
import("magrittr")
importFrom("MASS", "corresp", "glm.nb", "lda", "lm.gls", "lm.ridge",
           "loglm", "logtrans", "lqs", "polr", "qda", "rlm")
importFrom("nlme", "gls", "lme", "nlme", "nlsList")
importFrom("nnet", "multinom", "nnet")
importFrom("pls", "cppls", "mvr", "pcr", "plsr")
importFrom("randomForest", "randomForest")
importFrom("rpart", "rpart")
import("stats")
importFrom("survival", "cch", "coxph", "finegray", "pyears",
           "survConcordance", "survexp", "survfit", "survSplit")
importFrom("tree", "tree")
exportPattern("^[[:alpha:]]+")
